apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: true
    socketLB:
      hostNamespaceOnly: true
    cluster:
      name: "default"
      id: 0
    cni:
      exclusive: false
    hostFirewall:
      enabled: true
    envoy:
      prometheus:
        enabled: false
    bpf:
      monitorAggregation: medium 
      monitorAggregationInterval: 5s   
    l2announcements:
      enabled: false
    tunnelProtocol: geneve
    routingMode: tunnel
    extraConfig:
      devices: "eth0"
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    operator:
      replicas: 1
      updateStrategy:
        type: RollingUpdate
        rollingUpdate:
          maxSurge: 100%
          maxUnavailable: 100%